/* media query*/

@media (max-width: 500px){

    section{
        width: 400px;
        height:700vh;
        background-color: white;
        margin: auto;
       position: relative;
      
       
    }
    .menu ul{
        
        display: flexbox;
        flex-direction: column;    
       
        
    }

    .menu ul li {
        margin: 20px;
        padding: 10px;
    }


    .banner img{
        width: 300px;
        height: 60vh;
        border-radius: 10px;
        box-shadow:0 0 10px black;
        margin: 10px;
        }

    .main-1{
        padding-top: 30px;
            display: flex;
            flex-direction: column;
            padding: 30px;      
        
           
            
           

    }

     .main-content1{ 
        margin:30px;
        width: 300px;
        justify-content: center;
    }

    .main-2
          {

            padding-top: 10px;
            display: flex;
            flex-direction: column;
           
            padding: 10px;
            margin:10px;
           


          }  

          .article{
            
            text-align: center;
            width: 300px;
            height: 55vh;
            padding-bottom: 5px;
        }

          .footer{

            
            display: flex;
           
            flex-direction: column;
            justify-content: space-between;
          
          
        }

        .footer1{

            width: 250px;
            height: 55vh;
            margin:10px;}

            .symbol{
                
            width: 250px;
            height: 55vh;
            margin:10px;}

        #design{
         
            position: absolute;
            bottom: 10px;
        }
            

           
           
           
       



          

        }


           
     
