/* media query*/

@media (max-width: 900px){

    body{
       
     
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    section{
        width: 90%;
        margin: auto;
        background-color: white;
       
      
       
    }
    .mrl{margin-left: 0;}
    .mrrl{ margin:0;}
    img{ width: 100%;}
    .menu ul{
        
        display: flex;
        flex-direction: column;    
       flex-wrap: wrap;
        
    }

    .menu ul li {
        margin: 20px 0;
        padding: 10px 0;
    }


    

    .main-1{
       
            display: flex;
            flex-direction: column;
            
               
        
           
            
           

    }

    .main-content1, .article{

        margin: 30PX 0;
    }

   

        .main-2{
            display: flex;
        
            flex-direction: column;
            flex-wrap: wrap;

        }
        .article{width: 100%;}
       
      

          .footer{

            
            display: flex;
           width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
           
          
          
          
        }

        .footer1{
            width: 50%;
            margin-bottom: 20px;
        }

        .symbol{
            width: 50%;
            margin-bottom: 20px;
        }

        
            

           
           
           
       



          

        }


           
     
