*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pd{padding: 30px 30px;}

.pdtb{
    padding: 5px 0;
}

.mrl{margin-left: 30px;}
.mrrl{margin:0 30px;}

img{
    width: 100%;
}

body{
    background-color: gray;
 
    
    
}
section{
    width: 80%;
    background-color: white;
    margin: auto;
  
   
}

.menu ul{
    display: flex;
    
    justify-content: space-evenly;
   
    flex-wrap: wrap;
 
    list-style: none;
    width: 100%;
   
    
}
.menu ul li a{
    text-decoration: none;
    color: #998EA2;    
    cursor: pointer;
  
    padding: 30px; 
  
    }

    .active,.menu ul li a:hover  
    {
        border:1px solid black;

       background-color: #CEDB32;
       color: white;
    }

    .logo{

        display: flex;
      
      justify-content: center;
        font-size: 45px;
           
    }
    .logo h1{
        color: #736763;
       
    }
    #color{
        color: #CEDB32;

    }
   

   
       
       




    .banner img{
        
        height: 70vh;
        border-radius: 10px;
        box-shadow:0 0 10px black;
        transition: all 0.5s;
       
    }

    .banner img:hover{

        transform:scale(1.2,1.2);
       
        

    }
    .radio{

       
        text-align: center;
    }

    .main-1{
      
            display: flex;
            flex-direction: row;
            
           
           width: 100%;

    }

  

    .main-content1{

       display: flex;
      
       flex-wrap: wrap;
       width: 33.333333;
     

       background-color: #CEDB32;
       outline: none;
       box-shadow:0 0 10px black;
       transition: all 0.5s;
       
}

.main-content1:hover{

    transform: rotate(30deg);
}

       .main-content1 img{  
       
        height: 20vh; 
            }

    .main-content1 h1{

       text-align: center;
        color: white;

            }

            .main-content1 p{

               text-align: center;
                background-color: gray;
                padding-bottom: 40px;
                position: relative;
           
              
               
              

          }

          #plus{
             
              background-color: #CEDB32;
              color: white;
              font-size: x-large;   
            
              position: absolute;
             right: 1px;
             bottom: 1PX;
        
             border-bottom-left-radius:10px; 
             border-top-left-radius:10px; 
             height: 30px;
             width: 30px;

             
            
              
              
              

             
          }
          .main-2

          {
            
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
            width: 100%;
         
           
             
            
       
    
    }
            
          
         .article{
            
          
             width: 30.333333%;
          
             display: flex;
             
             flex-wrap: wrap;
             transition: all 0.5s;
            
          }

          .article:hover{
              transform: translateY(10%);
          }
         

         .article h1{

           
            color: #564B49;
            
      
         }

         .article h3{

            color: #A0A756;
            text-transform: capitalize;
            line-height: 30px;
            
         }

         .article p{

            color: rgba(0, 0, 0, 0.5);
          
            line-height: 30px;
            text-align: justify;
           
            
         }

.article ul li{
    color: rgba(0, 0, 0, 0.5);
    
 line-height: 50px;
 list-style: none;


 
}



.button{
    color: white;
    width: 30%;
   background-color:  rgba(0, 0, 0, 0.5);
   font-size: larger;
 
 
          }

    
.footer{

display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%; }


.footer1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 28%;
   
}




.symbol{

    border: 1px solid black;
    background-color:  #CEDB32;
    width: 20%;
    font-size: 100px;
    color: aliceblue;
    
    text-align: center;
    box-shadow:0 0 10px black;
    transition: all 0.5s;
    
    
    
}

.symbol:hover{
    transform: translateY(10%);
}


.footer1{

    border: 1px solid black;
    background-color: #564C48;
   
 
    box-shadow:0 0 10px black;
    transition: all 0.5s;
    

}

.footer1:hover{
    transform: translatex(10%);
} 

.footer1 h2{

    color:  #CEDB32;
    font-size: 30px;
    
    
}

.footer1 p{

    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;

}

.design{

    
    width: 100%;
   text-align: center;
    display: inline-block;
   color: rgba(85, 69, 69, 0.5);
   box-shadow:0 0 10px black;
    

}


    
